@import url("webfont.css");

html, body {
	background-color: black;
	color: white;
	font-family: "Determination Sans", Fixedsys, sans-serif;
	font-weight: normal;
	font-size: 24px;
	text-align: center;
}

#rumbling_leekspin {
	display: inline-block;
	position: relative;
	width: 260px;
	height: 140px;
	overflow: hidden;
}



@font-face {
    font-family: 'Determination Sans';
    src: url('DeterminationMonoWeb.woff') format('woff');
}
